@using st1001.website.Models;

<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Digital Creative Content Solution - @ViewBag.Title</title>
    <link href="~/Content/images/favicon1.ico" rel="shortcut icon" type="image/x-icon" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=10">






    <link href="~/Content/styles/normalize.css" rel="stylesheet" />
    <link href="~/Content/styles/styles.css" rel="stylesheet" />
    <link href="~/Content/styles/textAngular.css" rel="stylesheet" />

    <link href='//fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Petrona' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet prefetch">





    @RenderSection("IncludesInHeader", required: false)

    <script type="text/javascript">

        @{
            string relativePath = @System.Configuration.ConfigurationManager.AppSettings["RelativeAppPath"];
        }
        var RELATIVE_PATH = '@relativePath';

        if (!window.location.origin) {
            window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
        }

        var BASE_URL = window.location.origin;

        BASE_URL += RELATIVE_PATH;

        @{
            var currentUser = (st1001.website.DAL.Security.CustomPrincipal)ModelHelper.GetCurrentUser();
        }

        var CURRENT_USER_ID = '@currentUser.UserId';
        var CURRENT_ROL = '@currentUser.Role';

        @{
            var maxPDFNumberOnTheFly = @System.Configuration.ConfigurationManager.AppSettings["MaxPDFNumberOnTheFly"];
        }

        var MAX_PDF_NUMBER_ON_THE_FLY = '@maxPDFNumberOnTheFly';
    </script>
</head>
<body ng-controller="MainController" ng-cloak class="ng-cloak" ng-class="{'no-scroll': areScrollsHidden}">
    @if (@relativePath.Equals("/somnio/somnio1001/training"))
    {
        <h1 style="font-size:22px; text-align:center; color:red;">Training</h1>
    }
    <div id="spinner" class="spinner">
        <div class="loader-container">
            <img class="spinner-gif" src="~/Content/images/ajax_loader_blue_64.gif" />
            <p class="loader-status">
                Loading...
            </p>
        </div>
    </div>
    <div id="admin-container" class="container">
        <div class="header">
            <div class="header-content">
                <div class="site-page">
                    <a href="@Url.Action("Dashboard", "Home")" class="logo"></a>
                    <div class="page-header-text"><span>Digital Creative Content Solution</span></div>
                    <div class="header-content-right">
                        <div class="header-input-container">
                            <input class="input-smaller-size" type="text" name="buttonText" ng-model="searchString" ng-value="searchString" ng-enter="showSearchResults()" placeholder="Search" />
                            <button type="button" class="icon-text icon-text-reverse icon-text-orange" title="Search" ng-click="showSearchResults()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="admin-menu">
            <ul>
                @if (currentUser.IsInRole(Constants.ROLE_ADMIN) || currentUser.IsInRole(Constants.ROLE_PM) || currentUser.IsInRole(Constants.ROLE_SA))
                {
                    <li class="pull-left"><a href="" ng-click="openProjectDialogClick()"><div class="icon-holder-header icon-holder-header-text"><span>+</span></div> Create New Project</a></li>
                }
                @if (currentUser.IsInRole(Constants.ROLE_ADMIN) || currentUser.IsInRole(Constants.ROLE_SA))
                {
                    <li class="pull-left"><a href="" ng-click="openOfferDialogClick()">&nbsp;&nbsp;|&nbsp;<div class="icon-holder-header icon-holder-header-text"><span>+</span></div> Create New Offer</a></li>
                    <li class="pull-left"><a href="" ng-click="createNewUser()">&nbsp;&nbsp;|&nbsp;<div class="icon-holder-header icon-holder-header-text"><span>+</span></div> Create New User</a></li>
                }
                @if (currentUser.IsInRole(Constants.ROLE_ADMIN) || currentUser.IsInRole(Constants.ROLE_SA))
                {
                    <li class="pull-left"><a href="" ng-click="openEditOfferstDialogClick()">&nbsp;&nbsp;|&nbsp;<div class="icon-holder-header icon-holder-header-text icon-pencil-white"></div> Edit Offers</a></li>
                }

                <li><div class="icon-holder-header"><div class="dashboard-icon"></div></div> @Html.MenuItem("Dashboard  |  ", "Dashboard", "Home")</li>
                <li>
                    <div class="icon-holder-header"><div class="library-icon"></div></div>
                    <a href="~/MediaLibrary/Index">Shared Media Library</a>
                </li>

                @if (ModelHelper.GetCurrentUser().IsInRole("NotWantToShowThisSectionNow"))
                {
                    <li>@Html.MenuItem("  |  Create User", "CreateUser", "Account")</li>
                    <li>@Html.MenuItem("  |  View Users", "GetUsers", "Account")</li>
                }
            </ul>
        </div>
        <div class="clear"></div>
        <div class="content">
            <!-- @RenderSection("featured", required: false) -->
            @RenderBody()   <div class="footer">
                <div class="footer">
                    <div class="site-page">
                        <div class="page-footer-text"><span>Digital Creative Content Solution Version 1.0&nbsp;&nbsp;&nbsp;&nbsp;&copy;&nbsp;2014 SunTrust Banks, Inc.</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin: Dialogs sections -->
        <div class="dialog create-offer noselect" ng-class="{'open': isCreateOfferDlgVisible }" ng-include="'@Href("~/app/partials/create-offer.html")'"></div>
        <div class="dialog edit-offer noselect" ng-class="{'open': isEditOfferDlgVisible }" ng-include="'@Href("~/app/partials/edit-offer.html")'"></div>
        <div class="dialog create-project noselect" ng-class="{'open': isCreateProjectDlgVisible }" ng-include="'@Href("~/app/partials/create-project.html")'"></div>
        <div class="dialog edit-offers noselect" ng-class="{'open': isEditOffersDlgVisible }" ng-include="'@Href("~/app/partials/edit-offers.html")'"></></div>
        <div class="dialog information-dialog confirm-dialog" ng-class="{'open': isConfirmDlgVisible }" ng-include="'@Href("~/app/partials/confirm-dialog.html")'"></div>
        <div class="dialog confirm-dialog input" ng-class="{'open': isInputDlgVisible }" ng-include="'@Href("~/app/partials/input-dialog.html")'"></div>
        <div class="dialog confirm-dialog upload-asset" ng-class="{'open': isUploadAssetDlgVisible }" ng-include="'@Href("~/app/partials/upload-asset-dlg.html")'"></div>
        <!-- end: Dialogs sections -->

        <script src="~/Scripts/jquery-1.12.3.js"></script>

        <script src="~/Scripts/rangy-core.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/rangy-selectionsaverestore.js"></script>
        <script src="~/Scripts/textAngular-sanitize.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/textAngular.js"></script>


        <script src="~/Scripts/angular-file-upload.js" type="text/javascript"></script>
        <script src="~/Scripts/console-sham.js" type="text/javascript"></script>
        <script src="~/app/app.js" type="text/javascript"></script>
        <script src="~/app/directives/common-directives.js" type="text/javascript"></script>
        <script src="~/app/common.js" type="text/javascript"></script>
        <script src="~/app/services/common-service.js" type="text/javascript"></script>
        <script src="~/app/controllers/main-controller.js" type="text/javascript"></script>
        <script src="~/app/controllers/create-offer-controller.js" type="text/javascript"></script>
        <script src="~/app/controllers/edit-offer-controller.js" type="text/javascript"></script>
        <script src="~/app/controllers/create-project-controller.js" type="text/javascript"></script>
        <script src="~/app/controllers/edit-offers-controller.js" type="text/javascript"></script>
        <script src="~/app/controllers/upload-asset-controller.js" type="text/javascript"></script>

        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            var fby = fby || [];
            fby.push(['showTab', { id: '8602', position: 'right', color: '#FF1F3A' }]);
            (function () {
                var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
                f.src = '//cdn.feedbackify.com/f.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
            })();

        </script>




</body>
</html>
